<%- include('../header') %>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">JobiFy </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link " href="/admin">Admin <span class="sr-only">(current)</span></a>

                <a class="nav-item nav-link active" href="/admin/categorias">Categorias</a>
                <a class="nav-item nav-link" href="/admin/vagas">Vagas</a>
                <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
            </div>
        </div>
    </nav>



    <div class="container text-center">

        <a href="/admin"> <img src="/images/logo.png" alt="JobiFy - DevPleno" width="350px" class="logo"> </a>

    </div>

    <div class="container ">

        <h4 class="titulo text-center">CATEGORIAS</h4>

        <a type="button" href="/admin/categoria/cadastrar/" class="btn btn-primary btn-block">Cadastrar Categoria  </a>


        <hr>

        <ul>
            <% categorias.forEach( categoria => { %>
                <li>

                    <%- categoria.id %> -
                        <%- categoria.categoria %>

                            <a href="/admin/categoria/excluir/<%- categoria.id %>"> | Excluir </a>
                </li>
                <%  }) %>
        </ul>


    </div>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('../footer') %>