<%- include('../header') %>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">JobiFy </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link " href="/admin">Admin <span class="sr-only">(current)</span></a>

                <a class="nav-item nav-link active" href="/admin/departamentos">Departamentos</a>
                <a class="nav-item nav-link" href="/admin/vagas">Vagas</a>
                <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
            </div>
        </div>
    </nav>



    <div class="container text-center">

        <a href="/admin"> <img src="/images/logo.png" alt="JobiFy - DevPleno" class="logo img-fluid"> </a>

    </div>

    <div class="container ">

        <h4 class="titulo text-center">Departamentos</h4>
        <br>
        <a type="button" href="/admin/departamento/cadastrar/" class="btn btn-primary btn-block"><i class="fas fa-plus-circle"></i> Cadastrar Departamento  </a>


        <hr>

        <div class="container">
            <table class="table table-striped table-inverse  ">
                <thead class="thead-inverse">
                    <tr>
                        <th>Departamento</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <% categorias.forEach( categoria => { %>
                        <tr>
                            <td scope="row">
                                <%- categoria.categoria %>
                                    <td class="text-center">
                                        <a href="/admin/departamento/editar/<%- categoria.id %>"> <i class="fas fa-edit"></i> </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="/admin/departamento/excluir/<%- categoria.id %>"> <i class="fas fa-trash-alt"></i> </a>
                                    </td>
                            </td>
                            <%  }) %>
                        </tr>
                </tbody>
            </table>
        </div>


    </div>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('../footer') %>